@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  background: #141414;
}

@layer components {
  .image {
    -webkit-mask-image: url(./assets/o.png);
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: auto 100vh;
  }

  .text-stroke {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #ea481f;
    -webkit-text-stroke-width: 4px;
  }

  .perspective {
    perspective: 1000px;
  }

  .about-text {
    & p {
      background: linear-gradient(
        to right,
        rgb(255, 255, 255) 50%,
        rgb(37, 37, 37) 50%
      );
      background-size: 200% 100%;
      background-position-x: 100%;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }
  }

  .mask {
    -webkit-mask-image: url(./assets/maskImage.png);
    -webkit-mask-position: right;
    -webkit-mask-size: 100% 150%;
    height: 100%;
  }

  /* Mobile-specific adjustments */
  @media (max-width: 768px) {
    .image {
      -webkit-mask-size: auto 50vh; /* Reduce mask size on smaller screens */
      height: 50vh; /* Adjust container height */
      width: 100%; /* Ensure full width */
    }

    .text-stroke {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: white;
      -webkit-text-stroke-width: 1.5px;
    }
  }
}
