@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  background: #141414;
}

@layer components {
  .image {
    -webkit-mask-image: url(./assets/o.png);
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: auto 100vh;
  }

  .text-stroke {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2px;
  }

  .perspective {
    perspective: 2200px;
  }

  /* Mobile-specific adjustments */
  @media (max-width: 768px) {
    .image {
      -webkit-mask-size: auto 50vh; /* Reduce mask size on smaller screens */
      height: 50vh; /* Adjust container height */
      width: 100%; /* Ensure full width */
    }

    .text-stroke {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: white;
      -webkit-text-stroke-width: 1.5px;
    }
  }
}
